@charset "UTF-8";
.admin_left{
    margin: 10px;
    margin-left: 0;
    padding: 5px;
    width: 150px;
    text-align: center;
    border: 1px solid #dfdfdf;
}
.admin_left ul{
    margin-top: 20px;
    margin-bottom: 20px;
}
.admin_left li{
    margin-bottom: 10px;
}
.admin_left h2{
    color: #10AEFF;
    border-bottom: 1px solid #dfdfdf;
}
.admin_left a:link, .admin_left a:visited{
    font-size: 16px;
    cursor: pointer;
}
.admin_left a:hover, .admin_left a:active{
	text-decoration: none;
	color: #333;
}
.check{
	background: #dfdfdf;
}
.admin{
    float: right;
    margin: 10px 0;
    width: 806px;
    min-height: 456px;
    border: 1px solid #dfdfdf;
}
.admin_title{
    background: url("../image/dhbj.png") repeat-x;
    width: 786px;
    height: 35px;
    border-bottom: 1px solid #dfdfdf;
    color: #10AEFF;
    font-size: 18px;
    line-height: 35px;
    padding-left: 20px;
}
.admin_top{
    margin: 10px;
    padding-left: 120px;
    height: 28px;
    font-size: 15px;
    border-bottom: 1px solid #dfdfdf;
}
.admin_top span{
    display: block;
    width: 100px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    color: #9B9B9B;
    border: 1px solid #dfdfdf;
    border-bottom: 1px solid #FFFFFF;
}
.admin_list{
    margin: 20px;
    font-size: 14px;
}
.admin_list li{
    margin: 20px;
}
.admin_list span{
    display: block;
    padding-right: 5px;
    width: 80px;
    float: left;
    text-align: right;
}
.admin_list label{
    display: block;
    padding-left: 5px;
}
.admin_list input{
    height: 20px;
    vertical-align: middle;
}
.admin table{
    margin: 20px auto;
    width: 750px;
    font-size: 14px;
    border: 2px solid #dfdfdf;
}
.admin thead{
    background: #edf3fd;
    border-bottom: 2px solid #dfdfdf;
}
.admin tr{
    border-bottom: 1px solid #dfdfdf;
    height: 25px;
}
.admin td{
    padding-left: 5px;
}
.list_m {
	display: inline-block;
	padding-left: 0;
	margin: 4px 150px;
	border-radius: 4px;
}

.list_m li {
	display: inline;
}

.list_m a {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #337ab7;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.list_m li:first-child a {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.list_m li:last-child a {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.list_m li a:hover,.list_m li a:focus {
	z-index: 3;
	color: #10AEFF;
	background-color: #eee;
	border-color: #ddd;
	text-decoration: none;
}

.list_m .active a,.list_m .active a:hover,.list_m .active a:focus {
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: #10AEFF;
	border-color: #10AEFF;
}